@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$button-color: #1a73e8;
$input-color: #80868b;
$border-color: #dadce0;
$body-font: "Roboto", sans-serif;
$normal-font-size: 1rem;
$small-font-size: .75rem;

* ,*::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $body-font;
    font-size: $normal-font-size;
}

.animated-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .form {
        width: 360px;
        padding: 4rem 2rem;
        border-radius: 1rem;
        box-shadow: 10px 15px 25px rgba(92, 99, 105, 0.5);
    }
    .form-title{
        font-weight: 400;
        margin-bottom: 3rem;
    }
    .form-div{
        position: relative;
        height: 48px;
        margin-bottom: 1.5rem;
    }
    .form-input {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: $normal-font-size;
        outline: none;
        border-radius: 0.5rem;
        border: 1px solid $border-color;
        padding: 1rem;
        background: none;
        &:focus{
            border: 1.5px solid $button-color;
            +.form-label {
                top: -0.6rem;
                left: 0.8rem;
                z-index: 10;
                color: $button-color;
                font-size: $small-font-size;
                font-weight: 500;
            }    
        }
    }
    .form-label {
        position: absolute;
        left: 1rem;
        top:1rem;
        padding: 0 0.25rem;
        color: $input-color;
        background-color: white;
        font-size: $normal-font-size;
        transition: 0.3s;
    }
}

.form-btn {
    display: block;
    margin-left: auto;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: $button-color;
    color: white;
    font-size: $normal-font-size;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        box-shadow: 0 10px 36px rgba(0, 0, 0, 0.2);
    }
}

.form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
    top: -0.6rem;
    left: 0.8rem;
    z-index: 10;
    color: $button-color;
    font-size: $small-font-size;
    font-weight: 500;
}


